<div class="jumbotron">
  <h1 class="display-3">MEAN Authentication App</h1>
  <hr class="my-4">
  <div class="col-center-block">
    <p class="lead">Welcome to our custom MEAN autentication application built from scratch</p>
    <a class="btn btn-primary btn-lg" [routerLink]="['/register']">Register</a>
    <a class="btn btn-primary btn-lg" [routerLink]="['/login']">login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>A rock solid Node.js/Express server using Mongoose to organize models and query the database</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-CLI</h3>
    <p>Angular-CLI to generate components, sevices and more. Local dev server and easy complication</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>Full featured authentication using JSON web tokens. Login and store user data</p>
  </div>
</div>