<ng-content></ng-content>
<form *ngIf="!submited" [routerLinkActive]="['active']"  [formGroup]="smart">
  <h5>---SMART Form---</h5>
  <br>
  <div class="form-group">
        <div class="input-group" >
                <div class="input-group-prepend">
                <span class="input-group-text">Subject:</span>
                </div> 
                <input class="form-control" type="text" placeholder="input your subject" formControlName="subject">
        </div>
        <br>
        <div class="input-group" >
                <div class="input-group-prepend">
                <span class="input-group-text">speciafic: </span>
                </div> 
                <textarea class="form-control"  placeholder="speciafic your subject" formControlName="speciafic"></textarea>
        </div>
        <br>
        <div class="input-group" >
                <div class="input-group-prepend">
                <span class="input-group-text">measurable: </span>
                </div> 
                <textarea class="form-control"  placeholder="measurable your subject" formControlName="measurable"></textarea>
        </div>
        <br>
        <div class="input-group" >
                <div class="input-group-prepend">
                <span class="input-group-text">achievable: </span>
                </div> 
                <textarea class="form-control"  placeholder="make sure your subject achievable" formControlName="achievable"></textarea>
        </div>
        <br>
        <div class="input-group" >
                <div class="input-group-prepend">
                <span class="input-group-text">relevant: </span>
                </div> 
                <textarea class="form-control"  placeholder="the relevant of your subject" formControlName="relevant"></textarea>
        </div>
        <br>
        <div class="input-group" >
                <div class="input-group-prepend">
                <span class="input-group-text">deadline:</span>
                </div> 
                <input class="form-control" type="date" placeholder="20181230" formControlName="timeBased">
        </div>
        <br>
        <div class="input-group" >
                <div class="input-group-prepend">
                <span class="input-group-text">ratio:</span>
                </div> 
                <input class="form-control" type="range" value="50" min="0" max="100" formControlName="ratio">
        </div>
        <br><br>
      <button *ngIf="!edit" [routerLinkActive]="['active']" class="btn btn-primary" (click)="onSmartFormSubmit()">Submit</button>
      <button *ngIf="edit" [routerLinkActive]="['active']" class="btn btn-primary" (click)="onSmartFormUpdate()">Update</button>
  </div>
</form>

<form *ngIf="submited"  >
        <h5>---SMART Form---</h5>
        <br>
        <ul *ngFor="let item of smartMessage; let i=index">
                <li >
                        {{name[i]}}   :   {{item}}
                </li>
        </ul>
        <br>
        <button (click)="onSmartFormEdit()" class="btn btn-primary">Edit</button>
        <hr>
        <br>
</form>
