<h2 class="page-header">Dashboard</h2>
<br>
<button class="btn btn-primary" *ngIf="!created" [routerLinkActive]="['active']" (click)="onCreated()" >Create New Preject</button>
<div *ngIf="created">
        <app-smart (onSmartId)="onSmart($event)" (onEdit)="onSmartEdit()"></app-smart>
</div>
<div *ngIf="rehearsal" >
        <app-rehearsal [subject]="this.subject" [deadline]="this.deadline" [getRehearsalId]="this.rehearsalId" (onRehearsalId)="onRehearsal($event)"></app-rehearsal>
</div>
<div *ngIf="operation">
        <app-operation [getOperationId]="operationId" (onOperationId)="onOperation($event)"></app-operation>
</div>
<div *ngIf="resume">
        <app-resume [subject]="subject" [userId]="userId" [getResumeId]="resumeId" (onResumeId)="onResume($event)" ></app-resume>
</div>