<br>
<form *ngIf="!submited" [routerLinkActive]="['active']"  [formGroup]="rehearsal">
    <h5>---<ng-content></ng-content>Rehearsal Form---</h5>
    <br>
    <div class="form-group">
        <div class="input-group" *ngIf="!subject">
                <div class="input-group-prepend">
                <span class="input-group-text">Subject:</span>
                </div> 
                <input class="form-control" type="text" placeholder="input your subject" formControlName="subject">
        </div>
        <div class="input-group" *ngIf="subject">
                <div class="input-group-prepend">
                <span class="input-group-text">Subject:</span>
                </div> 
                <span>Subject:  {{subject}} </span>
        </div>
        <br>
        <div class="input-group" *ngIf="!deadline">
                <div class="input-group-prepend">
                <span class="input-group-text">Deadline: </span>
                </div> 
                <input type="date" class="form-control" aria-label="With input"
                       name="deadline" formControlName="deadline">
        </div>
        <div class="input-group" *ngIf="deadline">
                <div class="input-group-prepend">
                <span class="input-group-text">deadline:</span>
                </div> 
                <span>Deadline:  {{deadline}} </span>
        </div>
        <br>
        <div class="input-group" >
                <div class="input-group-prepend">
                <span class="input-group-text">Money: </span>
                </div> 
                <input type="number" class="form-control"  placeholder="700" formControlName="money">
        </div>
        <br>
        <div class="input-group" >
                <div class="input-group-prepend">
                <span class="input-group-text">HP(Hit point 0~100): {{hp}} </span>
                </div> 
                <input class="form-control" type="range" value="60" min="0" max="100" formControlName="hp">
        </div>
        <br>
        <div class="input-group" >
                <div class="input-group-prepend">
                <span class="input-group-text">MP(Mana Point 0~100): {{mp}} </span>
                </div> 
                <input class="form-control" type="range" value="60" min="0" max="100" formControlName="mp">
        </div>
        <br>
        <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text">Policy: </span>
                </div> 
                <input class="form-control" type="text" placeholder="enumber your actions" formControlName="policy">
        </div>
        <br>
        <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text">Problem: </span>
                </div> 
                <input class="form-control" type="text" placeholder="take care " formControlName="problem">
        </div>
        <br>
        <div class="input-group" >
                <div class="input-group-prepend">
                <span class="input-group-text">Ratio(0~100): {{ratio}} </span>
                </div> 
                <input class="form-control" aria-label="With input" type="range" value="60" min="0" max="100" formControlName="ratio">
        </div>
        <br><br>
        <button *ngIf="!edit && !getRehearsalId" [routerLinkActive]="['active']" class="btn btn-primary" (click)="onRehearsalFormSubmit()">Submit</button>
        <button *ngIf="edit || getRehearsalId" [routerLinkActive]="['active']" class="btn btn-primary" (click)="onRehearsalFormUpdate()">Update</button>
    </div>
  </form>

  <form *ngIf="submited" [routerLinkActive]="['active']" >
    <ul *ngIf="submited">
        <h5>---Rehearsal Form---</h5>
        <li *ngFor="let item of rehearsalMessage">
            {{item}}
        </li>
    </ul>
    <button  (click)="onRehearsalFormEdit()" class="btn btn-primary">Edit</button>
    <hr>
  </form>
  