<br>
<div *ngIf="!Ration">
  <p>Find out the ration of our problem!</p>
  <p>emotion:  {{ration}}% </p>
  <input type="range" value="50" [(ngModel)]="ration" >
  <p>logic:   {{100-ration}}% </p>
</div>
<div *ngIf="Ration">
  <p>Our problem is made of {{ration}}% emotion and {{100-ration}}% logic.</p>
  <p>Let's fix it!</p>
</div>
<hr>
<p *ngIf="!show">let's start our journey!! <button class="btn btn-primary" (click)="Ration=true; show=true; ration>= 50 ? items.push(true) : items.push(false)">Start</button></p>

<section id="process" *ngFor="let item of items">
  <app-emotion *ngIf="item === true" [emotionItems]="" (EmotionData)="onEmotion($event)"  ></app-emotion>
  <app-logic *ngIf="item === false" [logicItems]="" (LogicData)="onLogic($event)"></app-logic>
</section>

<div *ngIf="Success">
  <br>
  <h4>Congratulation! we got it! good job!!</h4>
</div>

<app-faild *ngIf="Fail"></app-faild>

<br>
<div *ngIf="Button" >
  <button class="btn btn-primary" *ngIf="Emotion" (click)="addEmotion()" >Emotion</button>
  <button class="btn btn-primary" *ngIf="Logic" (click)="addLogic()" >Logic</button>
  <button class="btn btn-primary" (click)="success()" >Success</button>  
  <button class="btn btn-primary" (click)="fail()" >Fail</button> 
</div>

<button class="btn btn-primary" *ngIf="Done" (click)="done()" >Fail Done</button>  