<br>
<h3><ng-content></ng-content>Logic Process:</h3>
  
  <section id="button" *ngIf="!Clicked">
    <button class="btn btn-primary" (click)="exist()" >Explore Existed</button>
    <button class="btn btn-primary" (click)="unknow()">Explore Unknow</button>
    <button class="btn btn-primary" (click)="program()">Execute Program</button>
  </section>
  
  <section id="exist" *ngIf="Exist">
    <br>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">state:</span>
      </div>
      <textarea class="form-control" aria-label="With textarea"
        placeholder="we may feel state" name="state" [(ngModel)]="state" required></textarea>
    </div>
    <br><hr>
    <p>Collect Information:</p>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">web:</span>
      </div>
      <textarea class="form-control" aria-label="With textarea"
        placeholder="we may feel web" name="web" [(ngModel)]="web" required></textarea>
    </div><br>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">expert:</span>
      </div>
      <textarea class="form-control" aria-label="With textarea"
        placeholder="we may feel expert" name="expert" [(ngModel)]="expert" required></textarea>
    </div><br>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">friend:</span>
      </div>
      <textarea class="form-control" aria-label="With textarea"
        placeholder="we may feel friend" name="friend" [(ngModel)]="friend" required></textarea>
    </div>
    <br><hr>
    <p>We can imitate then vernier regulation</p>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">imitate:</span>
      </div>
      <textarea class="form-control" aria-label="With textarea"
        placeholder="we may feel imitate" name="imitate" [(ngModel)]="imitate" required></textarea>
    </div><br>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">varnier:</span>
      </div>
      <textarea class="form-control" aria-label="With textarea"
        placeholder="we may feel varnier" name="varnier" [(ngModel)]="varnier" required></textarea>
    </div>
    <!-- click next and show lists & execute program, in other way, show faild form -->
    <br>
    <button class="btn btn-primary" (click)="next()" >Next</button>
    <button class="btn btn-primary" (click)="faild()" >Faild</button>
  </section>

  <!-- after click next and show the list -->
  <section id="existList" *ngIf="(Clicked && !Exist && !Faild && state) || (programDeal[0] && state)">
    <br>
    <h4 >Now, we explore something existed!! </h4><br>
    <p>Explore Existed</p>
    <li>state:  {{state}}</li><br>
    <p>Collection imformation</p>
    <li>      webnet:  {{web}}</li>
    <li>      expert:  {{expert}}</li>
    <li>      friend:  {{friend}}</li><br>
    <p>Policy:</p>
    <li>      imitate:  {{imitate}}</li>
    <li>      varnier:  {{varnier}}</li>
    <hr>
  </section>
  <!-- after click faild and show the lists & faild form -->
  <div id="existFaild " *ngIf="Faild && !Exist && state && !programDeal[0] ">
    <h4 >Now, we maybe faild!! </h4><br>
    <p>Explore Existed</p>
    <li>state:  {{state}}</li><br>
    <p>Collection imformation</p>
    <li>      webnet:  {{web}}</li>
    <li>      expert:  {{expert}}</li>
    <li>      friend:  {{friend}}</li><br>
    <p>Policy:</p>
    <li>      imitate:  {{imitate}}</li>
    <li>      varnier:  {{varnier}}</li>
    <hr><br>
  </div>

  <!-- unknow form and deal input & output -->
  <section id="unknow" *ngIf="Unknow">
    <br>
    <p>Get more imformatin:</p>
    <div *ngFor="let item of unknowItem" >
      <app-deal [item]="unknowItem" (DealData)="unknowDealData($event)" (DelDeal)="unknowDelDeal($event)" ><div>Collect Imformation</div></app-deal>
      <br>
    </div>
    <br>
    <button *ngIf="unknowDeal[0]" class="btn btn-primary" (click)="unknowSuccess()" >Success</button>
    <button *ngIf="unknowDeal[0]" class="btn btn-primary" (click)="faild()" >Faild</button>
  </section>

  <div *ngIf="Success">
    <h4 >Now, we get some imformations and move on!! </h4><br>
    <div *ngFor="let item of unknowMessage">
      <ul *ngFor="let str of item; let i=index" >
          <li> {{name[i]}} : {{str}} </li>
      </ul><hr>
    </div>
    
  </div>

  <div *ngIf="Faild && unknowDeal[0]">
    <h4 >Now, we maybe faild!! </h4><br>
    <div *ngFor="let item of unknowMessage">
      <ul *ngFor="let str of item; let i=index" >
          <li> {{name[i]}} : {{str}} </li>
      </ul><hr>
    </div>
  </div>

  <!-- program form and deal input & output -->
  <section id="program" *ngIf="Program">
    <br>
    <p>Make your picture clear:</p>

    <app-rehearsal  [getRehearsalId]="rehearsal" (RehearsalData)="onRehearsal($event)">Execute Program </app-rehearsal>
    <br>
    <div *ngIf="rehearsal" >
      <div *ngFor="let item of programItem" >
        <app-deal  [item]="programItem" (DealData)="programDealData($event)" (DelDeal)="programDelDeal($event)"><div>Execute Program</div></app-deal>
        <br>
      </div>
    </div>
    <div *ngIf="programDeal[0]">
      <br>
      <button class="btn btn-primary" (click)="programSuccess()" >Success</button>
      <button class="btn btn-primary" (click)="faild()" >Faild</button>
    </div>
  </section>

  <div *ngIf="ProgramSuccess">
    <br>
    <h4 >Now, we got the right way and let's move on!! </h4><br>
    <p>program execute rehearsal </p>
    <ul *ngFor="let item of rehearsalMessage; let i=index">
      <li >
          {{rehearsalName[i]}} : {{item}}
      </li>
    </ul>
    <hr><br>
    <p>program execute deal </p>
    <div *ngFor="let item of programMessage">
      <ul *ngFor="let str of item; let i=index" >
          <li> {{name[i]}} : {{str}} </li>
      </ul><hr><br>
    </div>
    <hr><br>
  </div>

  <div *ngIf="Faild && !ProgramSuccess && programDeal[0]">
    <h4 >Now, we may faild!! </h4><br>
    <div *ngFor="let item of programMessage">
      <ul *ngFor="let str of item; let i=index" >
          <li> {{name[i]}} : {{str}} </li>
      </ul><hr><br>
    </div>
    <hr><br>
  </div>

  <!-- faild form  -->
  <app-faild *ngIf="Faild" ></app-faild>

  <div >
    <br>
    <button *ngIf="(Success || ProgramSuccess) && !submited" class="btn btn-primary" (click)="submit()" >Submit</button>
    <button *ngIf="Faild && !Done" class="btn btn-primary" (click)="done()" >Faild Done</button>
    <br>
  </div>

