
<br>
<h3><ng-content></ng-content>Emotion Process:</h3>
<br>
<div *ngIf="!Select">
  <p>In order to finish our tasks, we must keep our hp over this value, adjust numbers!</p>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" >Hp:  {{hp}}  </span>
    </div>
    <input class="form-control" type="range" value="50" [(ngModel)]="hp" >
    <br>
    </div>
    <p>In order to finish our tasks, we must keep our mp over this value, adjust numbers!</p>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" >Mp:  {{mp}} </span>
      </div>
      <input class="form-control" type="range" value="50" [(ngModel)]="mp" >
    </div>
</div>
<div *ngIf="Select">
  <p>Our aims are make hp over {{hp}}, and mp over {{mp}}.</p>
  <p>Let's fix it!</p>
</div>

  <hr>
<p *ngIf="!HP">Now, we need to recove hp!  <button class="btn btn-primary" (click)="HP = true; Select=true;" >show</button> </p>

<section id="Hp" *ngIf="HP && !Next && !Fail">
  <p>Recover Hp in order to coquer ourselves!</p>
  <app-deal [item]="hpItem" (DealData)="hpDealData($event)" (DelDeal)="hpDelDeal($event)" ><div>Recover Hp</div></app-deal>
  <hr><br>
  <button *ngIf="hpDeal[0]" class="btn btn-primary" (click)="next()" >Next</button>
  <button *ngIf="hpDeal[0]" class="btn btn-primary" (click)="fail()" >Fail</button>
</section>

<div *ngIf="Next">
  <h4 >Now, we recover Hp!! </h4>
  <br>
  <ul *ngFor="let item of hpMessage; let i=index">
    <li> {{name[i]}} : {{item}} </li>
  </ul>
  <hr>
  <p *ngIf="!MP">Now, we need to recove mp!  <button class="btn btn-primary" (click)="MP = true" >show</button> </p>
  <br>
</div>

<div id="hpFail " *ngIf="Fail && !Next">
  <h4 >Now, we maybe fail!! </h4>
  <br>
  <ul *ngFor="let item of hpMessage; let i=index">
    <li> {{name[i]}} : {{item}} </li>
  </ul>
  <hr><br>
</div>

<section id="Mp" *ngIf="MP && Next && !Success && !Fail" >
  <p>Recover Mp in order to coquer ourselves!</p>
  <app-deal *ngIf="!Success" [item]="mpItem" (DealData)="mpDealData($event)" (DelDeal)="mpDelDeal($event)"><div>Recover Mp</div></app-deal>
  <br><hr><br>
  <button *ngIf="mpDeal[0]" class="btn btn-primary" (click)="success()" >Success</button>
  <button *ngIf="mpDeal[0]" class="btn btn-primary" (click)="fail()" >Fail</button>
</section>
<div *ngIf="Success">
  <h4 >Now, we recover Mp!! </h4>
  <br>
  <ul *ngFor="let item of mpMessage; let i=index">
    <li> {{name[i]}} : {{item}} </li>
  </ul><br>
</div>

<div id="mpFail " *ngIf="Fail && Next">
  <h4 >Now, we maybe fail!! </h4>
  <br>
  <ul *ngFor="let item of mpMessage; let i=index">
    <li> {{name[i]}} : {{item}} </li>
  </ul>
  <hr>
</div>

<app-faild *ngIf="Fail"></app-faild>

<div >
  <br>
  <button *ngIf="Success && !submited" class="btn btn-primary" (click)="submit()" >Submit Emotion</button>
  <button *ngIf="Fail && !Done" class="btn btn-primary" (click)="done()" >Fail Done</button>
</div>
