<section *ngIf="!submited">
  <app-todo [Todo]="todo" [Done]="done" (todos)="onTodos($event)" (dones)="onDones($event)" >
    <h3>Todos:</h3>
  </app-todo>
  
  <button *ngIf="!edit && !getOperationId" [routerLinkActive]="['active']" class="btn btn-primary" (click)="onOperationFormSubmit()">Submit</button>
  <button *ngIf="edit || getOperationId" [routerLinkActive]="['active']" class="btn btn-primary" (click)="onOperationFormUpdate()">Update</button>
 
</section>

  <form *ngIf="submited"  >
    <h5>---Operation Form---</h5>
    <br>
    <ul *ngFor="let item of todo">

      <li >
          {{item}} status:  {{ done[this.todo.indexOf(item)] }}
      </li>
    </ul>
    <br>
    <button (click)="onOperationFormEdit()" class="btn btn-primary">Edit</button>
    <hr>
    <br>
  </form>