<ng-content></ng-content>
<div *ngIf="!submited">
  <h3>Deal Process:</h3>
  <section id="compass">
    <label>Compass:</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" >Compass:  </span>
      </div>
      <input class="form-control" type="text" [(ngModel)]="compass" name="compass" placeholder="write down your compass" required><br>
  </div>
  <hr>
  <br>
  </section>

  <section id="importion">
    <label>Importion:</label>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" >Level 1:  </span>
        </div>
        <input class="form-control" type="text" [(ngModel)]="importion01" name="importion01" placeholder="importion & urgent" required><br>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" >Level 2:  </span>
        </div>
        <input class="form-control" type="text" [(ngModel)]="importion02" name="importion02" placeholder="not importion but urgent" ><br>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" >Level 3:  </span>
        </div>
        <input class="form-control" type="text" [(ngModel)]="importion03" name="importion03" placeholder="importion but not urgent" ><br>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" >Level 4:  </span>
        </div>
        <input class="form-control" type="text" [(ngModel)]="importion04" name="importion04" placeholder="not importion & not urgent" ><br>
    </div>
    <hr>
    <br>
  </section>

  <section id="dodont">
    <label>Do & Don't:</label>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" >Do:  </span>
        </div>
        <input type="text" class="form-control" placeholder="Do the right things!" aria-label="Username" aria-describedby="basic-addon1"
            name= "Do"
            [(ngModel)]="desc01"
            (keyup.enter)="addDo()">
    </div>

    <section class="main" *ngIf="do?.length > 0">
      <ul class="todo-list">
        <li *ngFor="let item of do" >
          <div class="view">
            <label>{{item}}</label>
            <button class="destroy" (click)="removeDo(item)"></button>
          </div>
        </li>
      </ul>
    </section>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" >Don't: </span>
        </div>
        <input type="text" class="form-control" placeholder="leave it alone!" aria-label="Username" aria-describedby="basic-addon1"
            name= "Dont"
            [(ngModel)]="desc02"
            (keyup.enter)="addDont()">
    </div>

    <section class="main" *ngIf="dont?.length > 0">
      <ul class="todo-list">
        <li *ngFor="let item of dont">
          <div class="view">
            <label>{{item}}</label>
            <button class="destroy" (click)="removeDont(item)"></button>
          </div>
        </li>
      </ul>
      <br>
    </section>
    <hr>
    <br>
  </section>

  <div id="dynamic" *ngFor="let item of dynamic" > 
    <app-dynamic [dynamic]="dynamic" (Dynamics)="getDynamic($event)" (delDynamics)="delDynamic($event)" ></app-dynamic>
    <hr>
    <br>
  </div>

  <section id="information">
      <label>Conclusion:</label>
    <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Information: </span>
    </div>
    <textarea class="form-control" aria-label="With textarea"
      placeholder="Get all informations" name="information" [(ngModel)]="information" required></textarea>
    </div><br>
  </section>

  <section id="result">
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" id="success" name="result" class="custom-control-input" [ngModel]="result" (ngModelChange)="result=$event" value="true" >
      <label class="custom-control-label" for="success" >Sucesse</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" id="faild"  name="result" class="custom-control-input" [ngModel]="result" (ngModelChange)="result=$event" value="false" checked>
      <label class="custom-control-label" for="faild">Failed</label>
    </div>
    <br>
    <br>
  </section>

  <button *ngIf="!edit" [routerLinkActive]="['active']" class="btn btn-primary" (click)="onDealFormSubmit()">Submit</button>
  <button *ngIf="edit" [routerLinkActive]="['active']" class="btn btn-primary" (click)="onDealFormUpdate()">Update</button>
  <hr>
  <br>
</div>

<form *ngIf="submited" [routerLinkActive]="['active']" >
  <ul *ngIf="submited">
      <h5>---Deal Form---</h5>
      <li *ngFor="let item of dealMessage; let i=index" >
          {{name[i]}}  :  {{item}}
      </li>
  </ul>
  <br>
  <button (click)="onDealFormEdit()" class="btn btn-primary">Edit</button>
</form>

<section id="console" *ngIf="this.item">
  <button class="btn btn-primary" (click)="add()">Add</button>
  <button class="btn btn-primary" (click)="del()">Del</button>
</section>


