<br><br>
<h5>---Resume Form---</h5>
<br>
<div *ngIf="!submited" >
    
    <div class="form-group">
      <label>redefine: </label><br>
      重新界定观念：
      <input type="text" 
              placeholder="detail "
              name= "redefine01"
              [(ngModel)]="desc01"
              (keyup.enter)="addToredefine01()">
      <ul>
        <li *ngFor="let item of redefine01">
          {{item}}
        </li>
      </ul>
      新的世界：
      <input type="text" 
              placeholder="detail "
              name= "redefine02"
              [(ngModel)]="desc02"
              (keyup.enter)="addToredefine02()">
      <ul>
        <li *ngFor="let item of redefine02">
          {{item}}
        </li>
      </ul>
      <button *ngIf="!edit && !getResumeId" [routerLinkActive]="['active']" class="btn btn-primary" (click)="onResumeFormSubmit()">Submit</button>
      <button *ngIf="edit || getResumeId" [routerLinkActive]="['active']" class="btn btn-primary" (click)="onResumeFormUpdate()">Update</button>
    </div>
  </div>

  <form *ngIf="submited"  >
    <ul >
        <li *ngFor="let item of resumeMessage">
            {{item}}
        </li>
    </ul>
    <br>
    <button (click)="onResumeFormEdit()" class="btn btn-primary">Edit</button>
  </form>