<br><br>
<h5>---Resume Form---</h5>
<br>
<div *ngIf="!submited" >
    
    <div class="form-group">
      <h3>redefine: </h3><br>
      
      <app-todo [Todo]="redefine01" [Done]="done"  (todos)="addRedefine01($event)" (dones)="addDone()" >
          <h4>重新界定观念：</h4>
      </app-todo>
      
      <app-todo [Todo]="redefine02"  [Done]="done"  (todos)="addRedefine02($event)" (dones)="addDone()"   >
          <h4>新的世界：</h4>
      </app-todo>
      <button *ngIf="!edit && !getResumeId" [routerLinkActive]="['active']" class="btn btn-primary" (click)="onResumeFormSubmit()">Submit</button>
      <button *ngIf="edit || getResumeId" [routerLinkActive]="['active']" class="btn btn-primary" (click)="onResumeFormUpdate()">Update</button>
    </div>
  </div>

  <form *ngIf="submited"  >
    <ul >
        <li *ngFor="let item of resumeMessage">
            {{item}}
        </li>
    </ul>
    <br>
    <button (click)="onResumeFormEdit()" class="btn btn-primary">Edit</button>
  </form>